html {
    display: block;
}

body {
    display: block;
    margin: 8px;
    font-family: Arial, sans-serif;
    background-color: beige;
}

h1 {
    text-align: center;
}

h2 {
    color: darkgreen;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

table {
    border: 2px solid darkgreen;
    width: 650px;
    margin: 0 auto;
}

th {
    border: 1px solid darkgreen;
    text-align: center;
    background-color: lightgreen;
}

td {
    border-top: 1px solid darkgreen;
}

.code {
    font-family: monospace, sans-serif;
    background-color: lightgray;
}